%h3 H1 Badge Library

%p The purpose of this site is to support H1 partners and Badge Librarians implement the 'Badge-Based Compensation' app.

%p.about
  For more information,
  = link_to "search", 'https://glassfrog.holacracy.org/search?utf8=%E2%9C%93&organization_id=5&search=badge'
  H1's public GlassFrog records for references to badges.