%h3 Help Page

%p
  %h5 How-To Videos
  (Coming soon)

%p
  %h5 Have a bug to report?
  Please add it to
  = link_to 'this spreadsheet', 'https://docs.google.com/spreadsheets/d/17wXmgd9VcfhPEdkQQUuT7_7udYMjMnq0xilUzQ21iyk/edit#gid=0'

%p
  %h5 Questions or comments about the app?
  Contact Mihai

%p
  %h5 Questions or comments about Badges and Badge records?
  Contact Badge Librarian

%p
  %h5 Questions or comments about Badge Nomination and Badge Holder records?
  Contact Compensation Administrator
