%h5= link_to badge.name_with_focus, badge
%ul
  %li= badge.description
  %li
    - if badge.accepted? && user_signed_in? && badge.holders.include?(current_user)
      %strong= "You hold this badge at level #{current_user.badge_level(badge)}"
