%h3 HolacracyOne Badge Holders

%table
  %tr
    %td Badge
    - @users.each do |user|
      %td= user.short
  - @badges.each do |badge|
    %tr
      %td= badge.name
      - @users.each do |user|
        %td
          = user.badge_level(badge)
