%h3 HolacracyOne Badge Holders

%table
  %tr
    %td Badge
    - @users.each do |user|
      %td= link_to user.try(:short), user
  - @badges.each do |badge|
    %tr
      %td= link_to badge.name, badge
      - @users.each do |user|
        %td= link_to user.badge_level(badge), badge
