%h1 Compensation Tiers

.row
  .large-1.medium-1.small-1.columns Tier
  .large-1.medium-1.small-1.columns Monthly
  .large-1.medium-1.small-1.columns Annual
  .large-1.medium-1.small-1.columns Fixed
  .large-8.medium-8.small-8.columns
%br

- @tiers.each do |t|
  = render t
  %br
/
/ .admin-only= link_to 'New Compensation Tier', new_comp_tier_path if librarian_or_admin?
