%h3 Badge Nominations

.large-3.medium-3.columns
  %strong Badge Name
.large-2.medium-1.columns
  %strong Nominee
.large-1.medium-1.columns
  %strong For
.large-1.medium-1.columns
  %strong Status
.large-1.medium-1.columns
  %strong Granted
.large-1.medium-1.columns
  %strong Created
%br

= render @badge_nominations