%h3 Badge Nominations

.large-1.medium-1.columns
  %strong id
.large-2.medium-2.columns
  %strong Badge Name
.large-2.medium-2.columns
  %strong User Name
.large-1.medium-1.columns
  %strong Nominated
.large-1.medium-1.columns
  %strong Status
.large-1.medium-1.columns
  %strong Granted
.large-1.medium-1.columns
  %strong Created
%br
%br
= render @badge_nominations