%h3 Badge Nominations

%h5
  = link_to 'All', badge_nominations_path
  \|
  = link_to 'Pending', badge_nominations_path(status: 'pending')
  \|
  = link_to 'Accepted', badge_nominations_path(status: 'accepted')

%table
  %tr
    %th
    %th Nominee
    %th
    %th Badge
    %th Status
    %th Actions
  = render @badge_nominations
