%h1 Validate a Badge Nomination 

%h5 Please note that only validations by current badge holders and (when needed) core/tenured partners will actually be tallied.

= render 'form'

= link_to 'Back', nomination_votes_path
