%h1 Vote for Badge Nomination 

%h5 Please note that only the votes of current badge holders and core/tenured partners will actually be tallied.

= render 'form'

= link_to 'Back', nomination_votes_path
