/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.box {
  background-color: white;
  border: 1px black solid;
  padding: 5px;
  margin: 0 15px;
}

.about {
  a {
    text-decoration: underline;
  }  
}

.underline-links {
  a, a.visited {
    text-decoration: underline;
  }  
}

a.green-light, a.green-light:visited {
  color: green;
  opacity: .5;
}

.date {
    width: auto;
}

button {
  a, a:visited {
    color: white;
  }
  padding: 10px;
}

.badge-set {
  background-color: white;
  border: 1px black solid;
  padding: 5px;
  margin: 50 0px;
  height: 200px;
}

.valuation {
  float: right;
  font-weight: bold;
  color: green;
}

.space {
  height: 30px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  a, a.visited {
    color: green;
  }
  color: green;
}

.radio {
  label {
    margin: 10px;
    font-size: 80%;
  }
  input[type="radio"] {
    margin: 0 1rem 0 0;
  }
}

.red-bubble {
  background: red;
  color: white;
  min-width: 30px;
  min-height: 30px;
  padding: 0 5px;
  border-radius: 50%;
  text-align: center;
}
