// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge33 {
  background-color: white;
  margin: 10px 0px 10px 0px;
}