h3.data-table-top {
  display: inline;
  background-color: red;
}

#holders-grid {
  th {
    font-weight: normal;
    width: 5em;
    padding: 0px;
  }

  .odd {
    background-color: #eee;
  }

  .badge-name {
    max-width: 15em;
    height: 3em;
    padding-left: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .badge-name:hover {
    text-overflow: inherit;
    overflow: visible;
    background-color: white;
  }  

  .badge-name:active {
    color: black;
  }
}

#holders-grid_length {
  float: right;

  label {
    padding-bottom: 0px;
  }
  select {
    display: inline;
    width: 4em;
    margin-bottom: 5px;
  }
}

#users-table {
  .odd {
    background-color: #eee;
  }

  th {
    font-weight: normal;
  }

  td {
  }

  th.avatar {
    max-width: 30px;
  }

  td.avatar {
    padding: 0px;
    margin-top: 3px;
  }

  th.text-right {
    margin-right: 5px;
  }

  td.text-right {
    padding-right: 18px;
  }
}
